{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fuse Blog</title>
    {% include 'apps/parts/styles.html' %}
</head>
<body>
    <div id="load">
        <div class="load__content">
            <div class="load__icon"><img src="{% static 'apps/assets/images/icons/load.gif'  %}" alt="Loading icon"/></div>
        </div>
    </div>
    {% include 'apps/parts/header.html' %}


    <div id="content">
        {% block main_contents %}

        {% endblock %}
    </div>
    {% if request.path != '/profile' %}
    {% include 'apps/parts/footer.html' %}
    {% endif %}
</body>
{% include 'apps/parts/scripts.html' %}
</html>
