<div class="col-12 col-md-5 col-lg-4 order-md-2">
    <div class="blog-sidebar">
        <div class="blog-sidebar-section -category">
            <div class="center-line-title">
                <!-- Blog category sidebar -->
                <h5>Categories</h5>
            </div>


            <!--Category 1::Background Image size is 340 x 80   -->
            {% for category in custom_categories %}
                <a class="category -bar " href="{{ url }}?category={{ category.slug }}">
                    <div class="category__background"
                         style="background-image: url({{ category.image.url }})"></div>
                    <h5 class="title">{{ category.name }}</h5>
                    <h5 class="quantity">{{ category.post_count }}</h5>

                </a>
            {% endfor %}

        </div>
        <!-- Trending Post Side Bar Section-->
        <div class="blog-sidebar-section -trending-post">
            <div class="center-line-title">
                <h5>Trending post</h5>
            </div>
            <!--Trending Post 1 -->
            {% for i, v in trending %}
                <div class="trending-post">
                    <div class="trending-post_image">

                        <!--Img size is 100 x 100 -->
                        <img src="{{ v.image.url }}" style="filter: brightness(70%)"
                             alt="{{ v.title }}"/>
                        <div class="rank">{{ i }}</div>
                    </div>
                    <div class="trending-post_content">
                        <!-- Category Header -->
                        <h5>{{ v.category.first.name }}</h5>
                        <a href="{% url 'post' v.slug %}">{{ v.title|truncatechars:29 }}</a>
                        <div class="info__time"><i class="far fa-clock"></i>
                            <p>{{ v.posted_at }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
        
    </div>
</div>

