{% extends 'apps/parts/base.html' %}
{% load static %}
{% block main_contents %}
    <div class="no-pd" id="content">
        <div class="container">
              <div class="breadcrumb">
                <ul>
                  <li>
                      <a href="about.html"> <i class="fas fa-home"></i>Home</a>
                    </li>
                  <li class="active">
                      <a href="#">About</a>
                    </li>
                </ul>
              </div>
          <div class="about-us">
            <div class="row align-items-center">
              <div class="col-12 col-sm-8 col-md-6 mx-auto">
                  <!-- image size 560 x 522 -->
                <div class="about-us__image">
                    <img src="{% static 'apps/assets/images/posts/about.png' %}" alt="About us image">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="about-us__content">
                  <h3>{{ custom_about.title }}</h3>
                  <p>{{ custom_about.description }}</p>
                  <div class="follow">
                    <p>F66ollow us:</p>
                    <div class="social-block">
                        {% for key, val in custom_about.social.items %}
                            <a href="{{ val }}"><i class="fab fa-{{ key }}"></i></a>
                        {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="subcribe-bar">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="subcribe-bar__content">
                  <h5>Don’t miss our future updates!</h5>
                  <h3>Get Subscribe today!</h3>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <form class="subcribe-bar__form" action="/">
                  <input type="text" placeholder="You email">
                  <button class="btn -normal">Subcribe  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
