{% extends 'apps/parts/base.html' %}
{% block main_contents %}
    <div class="no-pd" id="content">
        <div class="container">
            <div class="breadcrumb">
                <ul>
                    <li><a href="contact.html"> <i class="fas fa-home"></i>Home</a></li>
                    <li class="active"><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="contact-us">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="contact-us__info">
                            <h3 class="contact-title">GET IN TOUCH</h3>
                            <p class="contact-description">{{ contact.short_description }}</p>
                            <div class="contact-method">
                                <div class="contact-method__item"><i class="fas fa-map-marker-alt"></i>
                                    <p>{{ custom_about.location }}</p>
                                </div>
                                <div class="contact-method__item"><i class="fas fa-mobile-alt"></i>
                                    <p>{{ custom_about.phone }}</p>
                                </div>
                                <div class="contact-method__item"><i class="far fa-envelope-open"></i>
                                    <p>{{ custom_about.email }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="contact-us__social">
                            <h3 class="contact-title">Social</h3>
                            <div class="social-block">
                                {% for foo, url in custom_about.social.items %}
                                <a href="{{ url }}"><i class="fab fa-{{ foo }}"></i></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="contact-us__form">
                            <h3 class="contact-title">LEAVE A MESSAGE</h3>
                            <form action="/">
                                <input type="text" placeholder="Name" name="name">
                                <input type="email" placeholder="Email" name="email">
                                <input type="text" placeholder="Website" name="website">
                                <textarea name="message" cols="30" rows="8" placeholder="Message"></textarea>
                                <button class="btn -normal">Send message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}