{% extends 'apps/parts/base.html' %}
{% load static %}
{% block main_contents %}
    <div class="container">
        <div class="blog-with-sidebar">
            <div class="row">
                <!-- Right side bar starts here which contains the Category & Trending Post -->
                {% include 'apps/parts/blog-sidebar.html' %}
                <!--- End of Right Side Bar ----->

                <div class="col-12 col-md-7 col-lg-8 order-md-1">
                    <div class="row">
                        <div class="col-sm-6 col-md-12">
                            <div class="post-card -full -center">
                                {% if last_post %}
                                <a class="card__cover" href="{% url 'post' last_post.slug %}">
                                    <img src="{{ last_post.image.url }}"
                                         alt="Getting started with DevOps automation"/>
                                </a>
                                <div class="card__content">
                                    <!-- Content Category -->
                                    <h5 class="card__content-category">{{ last_post.category.first.name }}</h5>
                                    <!-- Content Heading -->
                                    <a class="card__content-title"
                                       href="{% url 'post' last_post.slug %}">{{ last_post.title }}</a>
                                    <div class="card__content-info">
                                        <!-- Content Author -->
                                        <div class="info__time"><i class="far fa-user"></i>
                                            <p>{{ last_post.user.username }}</p>
                                        </div>
                                        <!-- Content Time and Date -->
                                        <div class="info__time"><i class="far fa-clock"></i>
                                            <p>{{ last_post.posted_at }}</p>
                                        </div>
                                        <!-- Comments -->
                                        <div class="info__comment">
                                            <i class="far fa-comment"></i>
                                            <p>{{ last_post.comment_count }}</p>

                                            <i class="far fa-eye pl-3" ></i>
                                            <p>{{ last_post.views }}</p>
                                        </div>
                                    </div>

                                    <!-- post Description -->
                                    <p class="card__content-description">{{ last_post.body|safe|striptags|truncatechars:80|wordwrap:80 }}</p>
                                    <a class="more-btn" href="{% url 'post' last_post.slug %}">Read more </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="news-block__content -default">
                            <div class="news-block__content__slide">
                                <div class="row">
                                    <div class="col-12">
                                    </div>
                                    <div class="col-12">
                                        <div class="row">
                                            {% for last_post in last_posts %}
                                                <div class="col-12 col-sm-6">
                                                    <div class="post-card -small">
                                                        <a class="card__cover" href="{% url 'post' last_post.slug %}">
                                                            <!-- img size 370 x 247 -->
                                                            <img src="{{ last_post.image.url }} "
                                                                 alt={{ last_post.title }}/></a>
                                                        <!-- Post content -->
                                                        <div class="card__content">
                                                            <h5 class="card__content-category">{{ last_post.category.first.name }}</h5>
                                                            <a class="card__content-title"
                                                               href="{% url 'post' last_post.slug %}">{{ last_post.title }}</a>
                                                            <div class="card__content-info">
                                                                <div class="info__time"><i class="far fa-clock"></i>
                                                                    <p>{{ last_post.posted_at }}</p>
                                                                </div>
                                                                <div class="info__comment"><i
                                                                        class="far fa-comment"></i>
                                                                    <p>{{ last_post.comment_count }}</p>
                                                                    <i
                                                                        class="far fa-eye pl-3"></i>
                                                                    <p>{{ last_post.views }}</p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-danger" href="{% url "blog" %}" style="margin: auto">show more</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
